
    
    .state{
        width: 40%;
        float: left;
    }
    
    .GUI{
       width: 55%; 
       float: right;
        margin-right: 25px;    
    }
    
    .files{
       width: 35%; 
       float: left;
       margin-bottom: 10px;
        margin-left: 80px;
    }
       
    .settings{
      float: right;
      margin-right: 15px;
      margin-top: 1px;
      
    }
    
    .user-info{
      float: right;
      margin-right: 25px;
      margin-top: 1px;
      
    }
    
    .jumbotron{
     margin-top: 30px;    
     background-color: #FCFFD2;
     height:2px; 
     width:1125px; 
     position:relative; 
     left:-10px; 
     box-shadow:10px 10px 5px #CED8F6;
     border-radius: 20px;
    }
    
    .changepass{
     float: right; 
     margin-right: 15px;
     margin-top: 2px;
    }
    
.chart{
    background-color:none; 
    height:300px;
    width:500px;
    border:1px solid black;
    box-shadow:10px 10px 5px #CED8F6;
    border-radius: 10px;
}

.footer{
    background-color:grey;
    height:35px; 
    width:100%; 
    position:fixed;
    bottom :0px; 
    left:-10px;
    border-radius: 20px;
}


.printer_menu{
    height:250px;
    width:250px;
    border:1px solid black;
    box-shadow:10px 10px 5px #CED8F6;
    border-radius: 15px;
}
