<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<form id="form-upload-store" action="/fiware/upload" method="post" enctype="multipart/form-data">
    <input type="file" id='fileInput' name="upload_to_object_store" multiple>
    <input  id="upload" type="submit" value="Upload">
</form>

<script>
    (function(){
        
        var file,binary,blob;
        

        $('#form-upload-store').ajaxForm(function(result) {
            console.log('the form was successfully processed');
        });
                         
        $("#fileInput").on('change', function(e) {
            file = this.files[0];
            var reader = new FileReader();

            reader.onload = function(e) {
                 console.log("onload");
                
                binary = reader.result;

            };
            
            reader.onprogress = function(e) {
              console.log("Progess");
            };
            
            reader.onabort = function(e) {
              console.log("onabort");
            };
            
            reader.onloadend = function(e) {
              console.log("End");
            };
            reader.onloadstart = function(e) {
                 console.log("onloadstart");
    
            };
            reader.onerror = function(e) {
                console.log("onerror");

    
            };
            reader.readAsBinaryString (file);
        });
    })();
    
</script>