 <?xml version="1.0" encoding="UTF-8"?>
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <script type="text/javascript" src="http://www.xml3d.org/xml3d/script/xml3d.js"></script>
   <script type="text/javascript" src="http://www.xml3d.org/xml3d/script/tools/camera.js"></script>
   <title>My very first XML3D teapot</title>
 </head>
 <body>
     <xml3d xmlns="http://www.xml3d.org/2009/xml3d" >
            <mesh src="http://xml3d.org/xml3d/tutorial/files/teapot.json" />
     </xml3d>
 </body>
 </html>
 